* {box-sizing: border-box;}
body{
    margin: 0;
    background-color: antiquewhite;
}

main {
    background-color: aliceblue;
    border: 1px solid gray;
    margin: 1rem;
    padding: 3ch;
    overflow: hidden;
}

a {
    color: rgb(0, 0, 0);
}

.navbar {
    width: 100%;
    background-color:antiquewhite;
    overflow: auto;
}

.navbar a {
    float: left;
    width: 25%;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.column {
    float: left;
    width: 50%;
    padding: 2rem;
}

.row {
    display: table;
    clear: both;
}

h1 {
    margin-bottom: 2rem;
}
p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
figcaption {
    text-align: center;
    font-weight: bold;
}

.img-container-right {
    float: right;
    margin-left: 2ch;
    width: 60%;
}
.img-container-left {
    float: left;
    margin-right: 2ch;
    width: 60%;
}
@media all and (max-width: 1000px) {
/* column breakpoint added to image float breakpoints */
    .column {
        width: 100%;
    }
    
    .img-container-left {

        margin: auto;
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 2ch;
    }
    .img-container-right {
        margin: auto;
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 2ch;
    }
}